<script setup lang="ts"></script>

<template>
  <v-container>
    <v-col cols="20">
      <v-img
        src="https://img.freepik.com/free-photo/white-simple-textured-design-background_53876-102423.jpg?w=996&t=st=1671342530~exp=1671343130~hmac=56882e364040992a46c8ddc2d37ff1236590dc8a752ebc46a55e7e0e5345a885"
        height="125"
        cover
        class="bg-grey-lighten-2"
      ></v-img>
    </v-col>
    <v-row justify="center">
      <v-col cols="2">
        <v-avatar
          image="https://scontent.fbkk12-4.fna.fbcdn.net/v/t39.30808-6/318150126_2500051433478401_156654100548651719_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=09cbfe&_nc_eui2=AeH8FQsRdA9jaGLi_8a8GgdiBod2Po2ygKgGh3Y-jbKAqOZwQcVU3Ho2hMp8Xm3l2albObPnHwlpH2NmlqxaBDF8&_nc_ohc=to2IM6GjGIUAX_yOR4s&_nc_zt=23&_nc_ht=scontent.fbkk12-4.fna&oh=00_AfB6CD23qZRT_mK1-hYAqNu7ziCqjPJiM9eTVdEQc34M4g&oe=63A3F1E0"
          size="150"
        ></v-avatar>
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <h2>Phatcharapol Phabsakul</h2>
        <p>64160141@go.buu.ac.th</p>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="6">
        <v-card
          width="400"
          title="สิ่งที่สนใจ"
          text="ดนตรี ชอบแต่งเพลง ทำเพลง ร้อง/แร๊พ"
        >
          <v-img
            src="https://i.pinimg.com/736x/4f/eb/9f/4feb9f5f60c5d0b87051473951456e37.jpg"
            height="125"
            cover
            class="bg-grey-lighten-2"
          ></v-img>
        </v-card>
      </v-col>
      <v-col cols="2">
        <v-card width="400" title="ประวัติการศึกษา">
          <v-table>
            <thead>
              <tr>
                <th>ชั้นปีการศึกษา</th>
                <th>สถานศึกษา</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>อนุบาลปีที่ 2 - มัธยมปีที่ 6</td>
                <td>โรงเรียนมารีวิทยากบินทร์บุรี</td>
              </tr>
              <tr>
                <td>ปัจจุบัน</td>
                <td>มหาวิทยาลัยบูรพา</td>
              </tr>
            </tbody>
          </v-table>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
  <!-- <div>รูปภาพ</div>
  <div>ชื่อนามสกุล</div>
  <div>ประวัติการศึกษา</div>
  <div>สิ่งที่สนใจ</div>
  <div>สิ่งที่อยากให้ใช้</div>
  <div>v-container, v-row, v-col, v-img, v-table, v-avatar</div> -->
</template>
