<template>
  <v-app :theme="theme">
    <v-app-bar>
      <v-spacer></v-spacer>

      <v-btn :prepend-icon="theme === 'light' ? mdiWeatherSunny : mdiWeatherNight" @click="onClick">Toggle Theme</v-btn>
    </v-app-bar>

    <v-navigation-drawer expand-on-hover rail permanent>
      <v-list>
        <v-list-item prepend-avatar="https://scontent.fbkk12-1.fna.fbcdn.net/v/t1.6435-9/118472318_337848747587815_6362078783471044856_n.png?_nc_cat=106&ccb=1-7&_nc_sid=973b4a&_nc_ohc=OP3tPitzF9gAX-3iNX_&_nc_ht=scontent.fbkk12-1.fna&oh=00_AfDv2KwqmdIvRCCUy3w20DhoSwRoShw_ldZzyZdxtV8igA&oe=63C539EF" title="Tom Lee"
          subtitle="tom_lee888@gmailcom"></v-list-item>
      </v-list>

      <v-divider></v-divider>

      <v-list density="compact" nav>
        <v-list-item :prepend-icon="mdiFolder" title="My Files" value="myfiles" to="/my-files-view"></v-list-item>
        <v-list-item :prepend-icon="mdiAccount" title="My Profile" value="shared" to="/my-profile"></v-list-item>
        <v-list-item :prepend-icon="mdiStar" title="Starred" value="starred" to="/starred"></v-list-item>
      </v-list>
    </v-navigation-drawer>

    <v-main>
      <router-view></router-view>
    </v-main>
  </v-app>
</template>

<script setup lang="ts">
import { ref } from 'vue';
import { mdiWeatherSunny, mdiWeatherNight, mdiCursorPointer, mdiVuetify, mdiCheckboxMarkedCircle, mdiAccount, mdiStar , mdiFolder } from "@mdi/js";
import router from './router';
const theme = ref('light');

function onClick() {
  theme.value = theme.value === 'light' ? 'dark' : 'light'
}
</script>